$cardWidth: 100%;
$transition: 400ms all cubic-bezier(0.35, 0, 0.25, 1);

:host {
  display: flex;
  padding: 20px;
}
mat-card {
  width: calc(#{$cardWidth} - 40px);
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
mat-card:hover {
  transform: scale(1.05, 1.05);
  z-index: 2;
}
.photo-title {
  margin: 0;
  height: 60px;
  width: $cardWidth; // 2 * 16 mat-card padding
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: bold;
}
.photo-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  height: 200px;
  width: $cardWidth; // 2 * 16 mat-card padding
}
.photo {
  display: block;
  object-fit: cover;
}

.photo-description {
  display: block;
  margin-top: 20px;
  height: 100px;
  width: $cardWidth; // 2 * 16 mat-card padding
  overflow: hidden;
  text-align: justify;
}

.text-grayed {
  color: #bbb;
  font-style: italic;
}
