<mat-card *ngIf="photo" @fadeInUp>
  <h3 class="photo-title" [class.text-grayed]="!photo.title">
    {{ photo.title || "No Title..." }}
  </h3>
  <div class="photo-wrapper">
    <img class="photo" [src]="photo.src" [alt]="photo.title" />
  </div>
  <p class="photo-description" [class.text-grayed]="!photo.description">
    {{ photo.description || "Empty description..." }}
  </p>
</mat-card>
