<header class="gallery-header">
  <h1>Everis Test Gallery</h1>
  <mat-paginator
    class="gallery-paginator"
    [length]="allPhotos.length"
    [pageSize]="photosPerPage"
    (page)="activePage = $event.pageIndex"
  >
  </mat-paginator>
</header>
<mat-divider></mat-divider>
<section @fadeInUp class="cards-container">
  <!-- <div class="card-wrapper" *ngFor="let photo of displayedPhotos"> -->
  <app-gallery-card
    class="card"
    *ngFor="let photo of displayedPhotos"
    [photo]="photo"
  ></app-gallery-card>
  <!-- </div> -->
</section>
<div @fadeInUp class="gallery-loader" *ngIf="!allPhotos.length">
  <mat-progress-spinner color="primary" mode="indeterminate">
  </mat-progress-spinner>
  Loading Photos...
</div>
