$headerBackgroundColor: #333;

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gallery-header {
  // Not sure if I'm allowed after to actually delivery the exercise
  // but I was just using it on mobile mode and I reach the end and
  // I realise I made a big UX/UI issue, where I reach the end and I don't
  // have the pagination to change the page...
  // Might be late, but here's the simple fix
  position: sticky;
  top: 0;
  z-index: 10; // to be hover the cards
  padding: 10px 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: $headerBackgroundColor;
  color: white;
}

.gallery-paginator {
  background-color: $headerBackgroundColor;
  color: white;
  border: none;

  ::ng-deep button {
    color: white;
  }

  ::ng-deep button[disabled] {
    color: $headerBackgroundColor;
  }
}

.card {
  width: 300px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery-loader {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-progress-spinner {
  margin: 20px;
}
